/*
 * Copyright (c) 2021 Rafael Yumagulov
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt {
    quick_tap_ms = <200>;
};

&mt {
    quick_tap_ms = <200>;
};


/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &extra_keys_transform;
    };
};


/*   0  1  2  3  4  5    6  7  8  9 10 11
 *  12 13 14 15 16 17   18 19 20 21 22 23
 *  24 25 26 27 28 29   30 31 32 33 34 35
 *           36 37 38   39 40 41
 */

/ {
    combos {
        compatible = "zmk,combos";
        combo_bkspc {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&kp BACKSPACE>;
        };
        combo_enter {
            timeout-ms = <50>;
            key-positions = <7 19>;
            bindings = <&macro_ent>;
        };
        combo_tab {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&kp TAB>;
        };
        combo_esc {
            timeout-ms = <50>;
            key-positions = <4 16>;
            bindings = <&kp ESC>;
        };
    };
};


/ {
    macros {
        macro_qts: macro_qts {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp SQT &kp SQT &kp LEFT>;
        };
        macro_spc: macro_spc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &to DEF &kp SPACE>;
        };
        macro_ent: macro_ent {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &to DEF &kp ENTER>;
        };
        macro_par: macro_par {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT>;
        };
        macro_int: macro_int {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp GT &kp GT>;
        };
    };
};


/ {
    behaviors {
        td_sym: tap_dance_sym {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&lt 1 ESC>, <&tog 1>;
        };
        td_nav: tap_dance_nav {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&lt 2 BACKSPACE>, <&tog 2>;
        };
        td_cl: tap_dance_col {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SEMI>, <&kp COLON>, <&macro_par>;
        };
        td_sqt: tap_dance_sqt {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SQT>, <&macro_qts>, <&kp LEFT_BRACKET>;
        };
        td_min: tap_dance_min {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp MINUS>, <&kp UNDER>, <&kp RIGHT_BRACKET>;
        };
        td_dot: tap_dance_dot {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DOT>, <&macro_int>;
        };
        td_sls: tap_dance_sls {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp FSLH>, <&kp PIPE>, <&kp BACKSLASH>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TILDE  &kp Q  &kp W  &kp E                &kp R                &kp T                 &kp Y            &kp U              &kp I      &kp O    &kp P     &td_min
&kp TAB    &kp A  &kp S  &kp D                &mt LEFT_SHIFT F     &mt LEFT_GUI G        &mt RIGHT_GUI H  &mt RIGHT_SHIFT J  &kp K      &kp L    &td_cl    &td_sqt
&kp LC(B)  &kp Z  &kp X  &kp C                &kp V                &kp B                 &kp N            &kp M              &kp COMMA  &td_dot  &td_sls   &kp GRAVE
                         &mt LEFT_ALT INSERT  &td_sym              &mt LEFT_SHIFT SPACE  &mt LCTRL ENTER  &td_nav            &kp LC(B)
            >;
        };

        lower_layer {
            bindings = <
&trans            &kp EXCLAMATION  &kp AT_SIGN    &kp HASH      &kp DOLLAR    &kp PERCENT  &kp CARET     &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS
&kp BACKSLASH     &kp N1           &kp N2         &kp N3        &kp N4        &kp N5       &kp N6        &kp N7         &kp N8        &kp N9                &kp N0                 &mt RCTRL EQUAL
&kp LEFT_BRACKET  &kp LEFT_BRACE   &kp LESS_THAN  &none         &kp LBRC      &kp RBRC     &kp LT        &kp GT         &kp COMMA     &kp DOT               &kp RIGHT_BRACE        &kp RIGHT_BRACKET
                                                  &trans        &trans        &macro_spc   &macro_ent    &kp DOT        &trans
            >;
        };

        raise_layer {
            bindings = <
&kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6      &kp HOME       &kp END      &none   &none      &none  &none
&kp F7        &kp F8        &kp F9        &kp F10       &kp F11       &kp F12     &kp LEFT       &kp DOWN     &kp UP  &kp RIGHT  &none  &none
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR  &kp PAGE_DOWN  &kp PAGE_UP  &none   &none      &none  &none
                                          &trans        &trans        &trans      &trans         &trans       &trans
            >;
        };

        adjust_layer {
            bindings = <
&bootloader  &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &bootloader
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR
&sys_reset   &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &sys_reset
                                         &trans        &none         &trans        &trans        &none         &trans
            >;
        };
    };
};
